*.swp
*.swo
*.swm
ssl
auth.conf
fileserver.conf
puppet.conf
.vagrant
.tmp/
modules
.librarian
profiles/
pkg
local_deploy.clj
third-party.log
hieradata/physical.yaml
hieradata/common.yaml
hieradata-prod
plots
target
benchmark.json
*.log
